workflows/lead-enrichment.json
{
  "name": "Lead Profile Enrichment Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-enrichment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "New Signup Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "lead-enrichment-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract domain and validate email\n// Handle webhook data that may be in body property or directly on json\nconst inputData = $input.first().json;\nconst data = inputData.body || inputData;\nconst email = data.email || '';\nconst websiteUrl = data.website_url || '';\nconst signupPlan = data.signup_plan || 'free';\nconst userId = data.user_id || 'unknown';\nconst signupTimestamp = data.signup_timestamp || new Date().toISOString();\n\n// Extract domain from email\nconst emailDomain = email.split('@')[1] || '';\n\n// Extract domain from website URL\nlet websiteDomain = '';\ntry {\n  const url = new URL(websiteUrl.startsWith('http') ? websiteUrl : `https://${websiteUrl}`);\n  websiteDomain = url.hostname.replace('www.', '');\n} catch (e) {\n  websiteDomain = websiteUrl.replace(/^(https?:\\/\\/)?(www\\.)?/, '').split('/')[0];\n}\n\n// Check if personal email\nconst personalDomains = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'icloud.com', 'aol.com', 'protonmail.com', 'mail.com'];\nconst isPersonalEmail = personalDomains.includes(emailDomain.toLowerCase());\n\n// Use website domain as company domain if email is personal\nconst companyDomain = isPersonalEmail ? websiteDomain : emailDomain;\n\nreturn [{\n  json: {\n    email,\n    emailDomain,\n    websiteUrl,\n    websiteDomain,\n    companyDomain,\n    isPersonalEmail,\n    signupPlan,\n    userId,\n    signupTimestamp\n  }\n}];"
      },
      "id": "extract-domain",
      "name": "Extract Domain Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {},
      "id": "parallel-split",
      "name": "Parallel Enrichment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('Extract Domain Info').first().json.companyDomain }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "hunter-domain",
      "name": "Hunter.io Domain Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hunter.io/v2/email-verifier",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Extract Domain Info').first().json.email }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "hunter-verify",
      "name": "Hunter.io Email Verify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apollo.io/v1/people/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.APOLLO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Extract Domain Info').first().json.email }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "apollo-person",
      "name": "Apollo.io Person Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apollo.io/v1/organizations/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.APOLLO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"domain\": \"{{ $('Extract Domain Info').first().json.companyDomain }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "apollo-company",
      "name": "Apollo.io Company Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 650],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.peopledatalabs.com/v5/company/enrich",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "website",
              "value": "={{ $('Extract Domain Info').first().json.companyDomain }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.PDL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "pdl-company",
      "name": "PDL Company Enrich",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 950],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extract Domain Info').first().json.websiteUrl.startsWith('http') ? $('Extract Domain Info').first().json.websiteUrl : 'https://' + $('Extract Domain Info').first().json.websiteUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "id": "website-scraper",
      "name": "Scrape Website for Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 1100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://siterank.redirect2.me/api/rank.json?domain={{ $('Extract Domain Info').first().json.companyDomain }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "siterank-api",
      "name": "Site Rank Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 1250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 7
      },
      "id": "merge-data",
      "name": "Merge Enrichment Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "jsCode": "// Get data from all enrichment sources\nconst domainInfo = $('Extract Domain Info').first().json;\nconst hunterDomain = $('Hunter.io Domain Search').first()?.json?.data || {};\nconst hunterVerify = $('Hunter.io Email Verify').first()?.json?.data || {};\nconst apolloPerson = $('Apollo.io Person Lookup').first()?.json?.person || {};\nconst apolloCompany = $('Apollo.io Company Lookup').first()?.json?.organization || {};\nconst pdlCompany = $('PDL Company Enrich').first()?.json || {};\nconst scrapedResponse = $('Scrape Website for Competitors').first()?.json || {};\nconst scrapedHtml = typeof scrapedResponse === 'string' ? scrapedResponse : (scrapedResponse.data || scrapedResponse.body || JSON.stringify(scrapedResponse));\nconst html = (scrapedHtml || '').toLowerCase();\nconst siteRankData = $('Site Rank Lookup').first()?.json || {};\n\n// Extract fallback company name from email domain (e.g., 'awesomemotive' from 'user@awesomemotive.com')\nfunction extractCompanyFromDomain(domain) {\n  if (!domain) return '';\n  // Remove TLD and common suffixes\n  const parts = domain.split('.');\n  if (parts.length > 0) {\n    // Capitalize first letter of each word\n    return parts[0].replace(/([a-z])([A-Z])/g, '$1 $2').replace(/^./, str => str.toUpperCase());\n  }\n  return domain;\n}\n\n// Extract fallback user name from email prefix (e.g., 'akumar' from 'akumar@company.com')\nfunction extractNameFromEmail(email) {\n  if (!email) return '';\n  const prefix = email.split('@')[0] || '';\n  // Handle common patterns: firstname.lastname, firstname_lastname, firstnamelastname\n  return prefix\n    .replace(/[._]/g, ' ')\n    .replace(/([a-z])([A-Z])/g, '$1 $2')\n    .split(' ')\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())\n    .join(' ');\n}\n\nconst fallbackCompanyName = extractCompanyFromDomain(domainInfo.companyDomain || domainInfo.emailDomain);\nconst fallbackUserName = extractNameFromEmail(domainInfo.email);\n\n// Estimate traffic level based on rank\nfunction estimateTrafficLevel(rank) {\n  if (!rank || rank === 0) return 'Unknown';\n  if (rank <= 10000) return 'Very High';\n  if (rank <= 100000) return 'High';\n  if (rank <= 500000) return 'Medium';\n  if (rank <= 1000000) return 'Low';\n  return 'Very Low';\n}\n\n// Detect platform from HTML patterns\nfunction detectPlatformFromHtml(h) {\n  if (h.includes('cdn.shopify.com') || h.includes('myshopify.com') || h.includes('shopify-section')) return 'Shopify';\n  if (h.includes('woocommerce') || h.includes('wc-add-to-cart') || h.includes('wp-content/plugins/woocommerce')) return 'WordPress';\n  if (h.includes('magento') || h.includes('mage-') || h.includes('/static/version')) return 'Magento';\n  if (h.includes('bigcommerce') || h.includes('cdn.bcapp')) return 'BigCommerce';\n  if (h.includes('prestashop')) return 'PrestaShop';\n  if (h.includes('opencart') || h.includes('route=product')) return 'OpenCart';\n  if (h.includes('squarespace') || h.includes('static1.squarespace.com')) return 'Squarespace';\n  if (h.includes('wix.com') || h.includes('wixsite.com') || h.includes('parastorage.com')) return 'Wix';\n  if (h.includes('webflow') || h.includes('assets.website-files.com')) return 'Webflow';\n  if (h.includes('wp-content') || h.includes('wp-includes') || h.includes('wp-json')) return 'WordPress';\n  return 'Custom/Unknown';\n}\n\n// Detect tech stack from HTML patterns\nfunction detectTechStackFromHtml(h) {\n  const detectedTech = [];\n  if (h.includes('react') || h.includes('reactdom') || h.includes('_reactroot')) detectedTech.push('React');\n  if (h.includes('vue') || h.includes('v-cloak') || h.includes('v-bind')) detectedTech.push('Vue.js');\n  if (h.includes('angular') || h.includes('ng-app')) detectedTech.push('Angular');\n  if (h.includes('jquery') || h.includes('jquery.min.js')) detectedTech.push('jQuery');\n  if (h.includes('bootstrap')) detectedTech.push('Bootstrap');\n  if (h.includes('tailwind')) detectedTech.push('Tailwind CSS');\n  if (h.includes('google-analytics') || h.includes('googletagmanager') || h.includes('gtag')) detectedTech.push('Google Analytics');\n  if (h.includes('segment.io') || h.includes('analytics.min.js')) detectedTech.push('Segment');\n  if (h.includes('mixpanel')) detectedTech.push('Mixpanel');\n  if (h.includes('hotjar')) detectedTech.push('Hotjar');\n  if (h.includes('fullstory')) detectedTech.push('FullStory');\n  if (h.includes('mailchimp')) detectedTech.push('Mailchimp');\n  if (h.includes('klaviyo')) detectedTech.push('Klaviyo');\n  if (h.includes('hubspot')) detectedTech.push('HubSpot');\n  if (h.includes('zendesk')) detectedTech.push('Zendesk');\n  if (h.includes('freshdesk') || h.includes('freshchat')) detectedTech.push('Freshdesk');\n  if (h.includes('crisp.chat')) detectedTech.push('Crisp');\n  if (h.includes('tawk.to')) detectedTech.push('Tawk.to');\n  if (h.includes('stripe') || h.includes('js.stripe.com')) detectedTech.push('Stripe');\n  if (h.includes('paypal')) detectedTech.push('PayPal');\n  if (h.includes('razorpay')) detectedTech.push('Razorpay');\n  if (h.includes('cloudflare')) detectedTech.push('Cloudflare');\n  return detectedTech;\n}\n\n// Detect competitor tools from scraped HTML\nfunction detectCompetitorTools(h) {\n  const competitors = {\n    uses_onesignal: h.includes('onesignal') || h.includes('cdn.onesignal.com'),\n    uses_pushengage: h.includes('pushengage') || h.includes('clientcdn.pushengage'),\n    uses_pushowl: h.includes('pushowl') || h.includes('cdn.pushowl.com'),\n    uses_moengage: h.includes('moengage') || h.includes('cdn.moengage.com'),\n    uses_clevertap: h.includes('clevertap') || h.includes('wzrkt.com'),\n    uses_webengage: h.includes('webengage') || h.includes('ssl.widgets.webengage'),\n    uses_izooto: h.includes('izooto') || h.includes('cdn.izooto.com'),\n    uses_pushwoosh: h.includes('pushwoosh'),\n    uses_pushalert: h.includes('pushalert') || h.includes('cdn.pushalert.co'),\n    uses_pushy: h.includes('pushy.me') || h.includes('pushy-sdk'),\n    uses_firebase_push: h.includes('firebase') || h.includes('firebaseapp.com') || h.includes('fcm'),\n    uses_intercom: h.includes('intercom') || h.includes('widget.intercom.io'),\n    uses_drift: h.includes('drift') || h.includes('js.driftt.com')\n  };\n  const detectedCompetitor = Object.keys(competitors).find(key => competitors[key]);\n  const competitorName = detectedCompetitor ? detectedCompetitor.replace('uses_', '').replace(/_/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase()) : null;\n  const marketingTools = [];\n  if (h.includes('google-analytics') || h.includes('gtag')) marketingTools.push('Google Analytics');\n  if (h.includes('facebook') || h.includes('fbevents')) marketingTools.push('Facebook Pixel');\n  if (h.includes('hotjar')) marketingTools.push('Hotjar');\n  if (h.includes('hubspot')) marketingTools.push('HubSpot');\n  if (h.includes('mailchimp')) marketingTools.push('Mailchimp');\n  if (h.includes('klaviyo')) marketingTools.push('Klaviyo');\n  if (h.includes('intercom')) marketingTools.push('Intercom');\n  if (h.includes('drift')) marketingTools.push('Drift');\n  return { ...competitors, detected_competitor: competitorName, has_competitor: !!detectedCompetitor, marketing_tools: marketingTools };\n}\n\n// Detect platform and tech from HTML\nconst detectedPlatform = detectPlatformFromHtml(html);\nconst detectedTechStack = detectTechStackFromHtml(html);\nconst competitorAnalysis = detectCompetitorTools(html);\n\n// Map country to currency\nfunction mapCountryToCurrency(country) {\n  const currencyMap = {\n    'United States': 'USD', 'US': 'USD',\n    'United Kingdom': 'GBP', 'UK': 'GBP', 'GB': 'GBP',\n    'Germany': 'EUR', 'DE': 'EUR',\n    'France': 'EUR', 'FR': 'EUR',\n    'Italy': 'EUR', 'IT': 'EUR',\n    'Spain': 'EUR', 'ES': 'EUR',\n    'Netherlands': 'EUR', 'NL': 'EUR',\n    'India': 'INR', 'IN': 'INR',\n    'Canada': 'CAD', 'CA': 'CAD',\n    'Australia': 'AUD', 'AU': 'AUD',\n    'Japan': 'JPY', 'JP': 'JPY',\n    'Brazil': 'BRL', 'BR': 'BRL',\n    'Mexico': 'MXN', 'MX': 'MXN',\n    'Singapore': 'SGD', 'SG': 'SGD'\n  };\n  return currencyMap[country] || 'USD';\n}\n\n// Calculate enrichment quality score\nfunction calculateEnrichmentQuality(data) {\n  let score = 0;\n  if (data.company_profile?.name && data.company_profile.name !== 'Unknown') score += 20;\n  if (data.company_profile?.industry && data.company_profile.industry !== 'Unknown') score += 20;\n  if (data.site_profile?.platform && data.site_profile.platform !== 'Custom/Unknown') score += 20;\n  if (data.user_profile?.country && data.user_profile.country !== 'Unknown') score += 15;\n  if (data.social_profiles?.linkedin) score += 15;\n  if (data.site_profile?.tech_stack?.length > 0) score += 10;\n  if (data.traffic?.estimated_traffic && data.traffic.estimated_traffic !== 'Unknown') score += 10;\n  return score;\n}\n\n// Get country from various sources\nconst country = pdlCompany?.location?.country || hunterDomain?.country || apolloCompany?.country || 'Unknown';\n\n// Build enriched profile\nconst enrichedProfile = {\n  // Original Input\n  email: domainInfo.email,\n  website_url: domainInfo.websiteUrl,\n  company_domain: domainInfo.companyDomain,\n  signup_plan: domainInfo.signupPlan,\n  user_id: domainInfo.userId,\n  signup_timestamp: domainInfo.signupTimestamp,\n  is_personal_email: domainInfo.isPersonalEmail,\n  \n  // Email Verification\n  email_verification: {\n    status: hunterVerify?.status || 'unknown',\n    score: hunterVerify?.score || 0,\n    is_valid: hunterVerify?.status === 'valid',\n    is_disposable: hunterVerify?.disposable || false,\n    is_webmail: hunterVerify?.webmail || domainInfo.isPersonalEmail\n  },\n  \n  // User Profile\n  user_profile: {\n    first_name: apolloPerson?.first_name || hunterVerify?.first_name || fallbackUserName.split(' ')[0] || '',\n    last_name: apolloPerson?.last_name || hunterVerify?.last_name || fallbackUserName.split(' ').slice(1).join(' ') || '',\n    full_name: apolloPerson?.name || ((hunterVerify?.first_name && hunterVerify?.last_name) ? `${hunterVerify.first_name} ${hunterVerify.last_name}` : '') || fallbackUserName,\n    title: apolloPerson?.title || '',\n    role: apolloPerson?.functions || '',\n    seniority: apolloPerson?.seniority || '',\n    country: apolloPerson?.country || country,\n    city: apolloPerson?.city || apolloCompany?.city || pdlCompany?.location?.locality || '',\n    timezone: '',\n    currency: mapCountryToCurrency(apolloPerson?.country || country),\n    avatar_url: apolloPerson?.photo_url || ''\n  },\n  \n  // Company Profile\n  company_profile: {\n    name: apolloCompany?.name || hunterDomain?.organization || pdlCompany?.name || fallbackCompanyName || 'Unknown',\n    legal_name: apolloCompany?.legal_name || pdlCompany?.legal_name || '',\n    description: apolloCompany?.short_description || pdlCompany?.summary || '',\n    industry: apolloCompany?.industry || pdlCompany?.industry || hunterDomain?.industry || 'Unknown',\n    sector: pdlCompany?.sector || '',\n    sub_industry: apolloCompany?.sub_industry || '',\n    employee_count: apolloCompany?.estimated_num_employees || pdlCompany?.employee_count || 'Unknown',\n    employee_range: apolloCompany?.employee_range || pdlCompany?.employee_count_range || 'Unknown',\n    estimated_revenue: apolloCompany?.annual_revenue || pdlCompany?.estimated_annual_revenue || 'Unknown',\n    revenue_range: apolloCompany?.revenue_range || '',\n    founded_year: apolloCompany?.founded_year || pdlCompany?.founded || '',\n    country: apolloCompany?.country || pdlCompany?.location?.country || country,\n    city: apolloCompany?.city || pdlCompany?.location?.locality || '',\n    state: apolloCompany?.state || pdlCompany?.location?.region || '',\n    address: apolloCompany?.street_address || '',\n    tags: apolloCompany?.keywords || pdlCompany?.tags || [],\n    type: apolloCompany?.organization_type || pdlCompany?.type || ''\n  },\n  \n  // Site Profile (from HTML scraping)\n  site_profile: {\n    platform: detectedPlatform,\n    tech_stack: detectedTechStack,\n    tech_categories: [],\n    cms: detectedPlatform === 'WordPress' ? 'WordPress' : '',\n    ecommerce: ['Shopify', 'Magento', 'BigCommerce', 'PrestaShop', 'OpenCart'].includes(detectedPlatform) ? detectedPlatform : (html.includes('woocommerce') || html.includes('wc-add-to-cart') ? 'WooCommerce' : ''),\n    analytics: detectedTechStack.filter(t => ['Google Analytics', 'Segment', 'Mixpanel', 'Hotjar', 'FullStory'].includes(t)),\n    marketing_automation: detectedTechStack.filter(t => ['HubSpot', 'Mailchimp', 'Klaviyo'].includes(t)),\n    email_providers: detectedTechStack.filter(t => ['Mailchimp', 'Klaviyo'].includes(t))\n  },\n  \n  // Traffic Estimates (from Site Rank API)\n  traffic: {\n    global_rank: siteRankData?.rank || siteRankData?.globalRank || 'Unknown',\n    tranco_rank: siteRankData?.tranco || 'Unknown',\n    umbrella_rank: siteRankData?.umbrella || 'Unknown',\n    majestic_rank: siteRankData?.majestic || 'Unknown',\n    estimated_traffic: estimateTrafficLevel(siteRankData?.rank || siteRankData?.globalRank || siteRankData?.tranco || 0)\n  },\n  \n  // Social Media Profiles\n  social_profiles: {\n    twitter: pdlCompany?.twitter_url || apolloCompany?.twitter_url || null,\n    twitter_followers: pdlCompany?.twitter_follower_count || 0,\n    facebook: pdlCompany?.facebook_url || apolloCompany?.facebook_url || null,\n    linkedin: pdlCompany?.linkedin_url || apolloCompany?.linkedin_url || null,\n    linkedin_id: pdlCompany?.linkedin_id || '',\n    youtube: pdlCompany?.youtube_url || null,\n    crunchbase: apolloCompany?.crunchbase_url || null\n  },\n  \n  // Competitor Analysis (from HTML scraping)\n  competitor_tools: competitorAnalysis,\n  \n  // Domain Info from Hunter\n  domain_info: {\n    domain_type: hunterDomain?.type || 'unknown',\n    email_pattern: hunterDomain?.pattern || '',\n    headcount: hunterDomain?.headcount || '',\n    emails_found: hunterDomain?.emails?.length || 0\n  },\n  \n  // Metadata\n  enrichment_timestamp: new Date().toISOString(),\n  enrichment_sources: {\n    hunter: !!hunterDomain?.organization,\n    apollo: !!apolloCompany?.name || !!apolloPerson?.name,\n    pdl: !!pdlCompany?.name,\n    html_scraping: detectedTechStack.length > 0 || detectedPlatform !== 'Custom/Unknown',\n    site_rank: !!(siteRankData?.rank || siteRankData?.globalRank || siteRankData?.tranco)\n  }\n};\n\n// Calculate enrichment quality\nenrichedProfile.enrichment_quality = calculateEnrichmentQuality(enrichedProfile);\n\nreturn [{ json: enrichedProfile }];"
      },
      "id": "structure-data",
      "name": "Structure Enriched Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an ICP (Ideal Customer Profile) scoring expert. Analyze the provided lead data and return ONLY a valid JSON response with scoring.\n\nOur ICP criteria (customize these for your business):\n- E-commerce platforms (Shopify, WordPress preferred) = High value\n- Employee count 10-500 = Sweet spot (1-10 = SMB, 500+ = Enterprise)\n- Monthly traffic High/Medium = Good indicator\n- Uses competitor tools (OneSignal, PushEngage, etc.) = High intent/switching potential\n- B2C retail/e-commerce industry = Best fit\n- Revenue $1M-$100M = Target range\n- Valid business email (not personal) = Better quality\n- Strong social presence = Established business\n\nScoring breakdown:\n- platform_fit (0-25): Shopify/WordPress = 25, Custom = 5\n- company_size_fit (0-20): 10-500 employees = 20, 1-10 = 10, 500+ = 15\n- traffic_fit (0-20): High = 20, Medium = 15, Low = 10, Unknown = 5\n- competitor_usage (0-20): Uses competitor push tools = 20, Uses marketing tools = 10\n- industry_fit (0-15): E-commerce/Retail = 15, SaaS = 12, Other B2C = 10, B2B = 5\n\nReturn ONLY valid JSON (no markdown, no explanations):\n{\n  \"icp_score\": 0-100,\n  \"icp_tier\": \"HIGH|MEDIUM|LOW\",\n  \"scoring_breakdown\": {\n    \"platform_fit\": 0-25,\n    \"company_size_fit\": 0-20,\n    \"traffic_fit\": 0-20,\n    \"competitor_usage\": 0-20,\n    \"industry_fit\": 0-15\n  },\n  \"key_insights\": [\"insight1\", \"insight2\", \"insight3\"],\n  \"pain_points\": [\"potential pain point 1\", \"potential pain point 2\"],\n  \"recommended_approach\": \"string describing best outreach strategy\",\n  \"urgency\": \"HIGH|MEDIUM|LOW\",\n  \"disqualification_reasons\": []\n}"
            },
            {
              "role": "user",
              "content": "=Analyze this lead for ICP fit:\n\n{{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        }
      },
      "id": "ai-icp-scoring",
      "name": "AI ICP Scoring",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.0,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse the ICP analysis response\nconst enrichedData = $('Structure Enriched Data').first().json;\nlet icpAnalysis = $input.first().json;\n\n// Default fallback\nconst defaultIcp = {\n  icp_score: 50,\n  icp_tier: 'MEDIUM',\n  scoring_breakdown: {\n    platform_fit: 10,\n    company_size_fit: 10,\n    traffic_fit: 10,\n    competitor_usage: 10,\n    industry_fit: 10\n  },\n  key_insights: ['Unable to fully analyze lead'],\n  pain_points: [],\n  recommended_approach: 'Standard outreach approach',\n  urgency: 'MEDIUM',\n  disqualification_reasons: []\n};\n\ntry {\n  // Handle if response is a string\n  if (typeof icpAnalysis === 'string') {\n    icpAnalysis = JSON.parse(icpAnalysis);\n  }\n\n  // Handle Gemini response format: { content: { parts: [{ text: '...' }] } }\n  if (icpAnalysis.content?.parts?.[0]?.text) {\n    const textContent = icpAnalysis.content.parts[0].text;\n    // Try to extract JSON from the text (might be wrapped in markdown)\n    const jsonMatch = textContent.match(/```json\\n?([\\s\\S]*?)\\n?```/);\n    if (jsonMatch) {\n      icpAnalysis = JSON.parse(jsonMatch[1]);\n    } else {\n      icpAnalysis = JSON.parse(textContent);\n    }\n  }\n  // Handle OpenAI response format\n  else if (icpAnalysis.message?.content) {\n    const content = icpAnalysis.message.content;\n    const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      icpAnalysis = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n    } else {\n      icpAnalysis = JSON.parse(content);\n    }\n  }\n  // Handle direct text response\n  else if (icpAnalysis.text) {\n    icpAnalysis = JSON.parse(icpAnalysis.text);\n  }\n} catch (e) {\n  console.log('ICP parsing error:', e.message);\n  icpAnalysis = defaultIcp;\n}\n\n// Validate required fields exist\nif (!icpAnalysis.icp_score || !icpAnalysis.icp_tier) {\n  icpAnalysis = { ...defaultIcp, ...icpAnalysis };\n}\n\nreturn [{\n  json: {\n    ...enrichedData,\n    icp_analysis: icpAnalysis\n  }\n}];"
      },
      "id": "parse-icp",
      "name": "Parse ICP Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a friendly Customer Success Manager writing personalized welcome emails to new signups.\n\nOur product: PushEngage - Web push notifications and customer engagement platform\n\nEmail Style Guidelines:\n- Warm, welcoming, and personal tone (like writing to a friend)\n- Position yourself as their dedicated CSM and 'secret weapon'\n- Offer a one-on-one consultation call\n- Include helpful resources in P.S. sections\n- Use their first name if available, otherwise use 'there' as fallback\n\nCreate 3 email variants:\n1. Welcome & consultation offer (warm intro, offer personalized guidance)\n2. Value-focused (highlight growth insights tailored to their platform/industry)\n3. Resource-rich (focus on helpful content and tutorials)\n\nExample email structure:\n---\nSubject: You've leveled up your customer engagement!\n\nHi [FirstName or 'there'],\n\nI'm Ayushi, the Customer Success Manager at PushEngage, and I'm thrilled to welcome you to our inner circle.\n\nI'm your secret weapon.\n\nPushEngage works with thousands of businesses worldwide, and I have valuable insights into what works best.\n\nSo, I'd like to set up a one-on-one consult.\n\nI have some fantastic growth ideas tailored to your business, and I'm open to receiving product feedback or answering any questions you may have.\n\nPlease reply to this email and let me know when you'd like to schedule the consultation call.\n\nI can set up a time based on your availability.\n\nTalk soon!\n\nAyushi Dubey,\nCustomer Success Manager,\nPushEngage\n\nP.S.: Get a sneak peek at every campaign type and pop-up modal for web push notifications.\n\nP.P.S.: If you like video tutorials more, check out this playlist on our official YouTube channel: PushEngage Quick Tour.\n---\n\nEach email should:\n- Have an exciting, celebratory subject line\n- Start with a warm personal introduction from Ayushi as CSM\n- Mention PushEngage works with thousands of businesses\n- If their platform is detected (Shopify, WordPress, etc.), mention you have specific tips for that platform\n- If competitor_tools.detected_competitor is present, subtly mention you can help them get even better results\n- Offer to set up a one-on-one consultation call\n- Ask them to reply with their availability\n- Include P.S. with campaign types guide mention\n- Include P.P.S. with YouTube playlist mention\n- Sound genuinely excited and helpful, not salesy\n\nReturn ONLY valid JSON (no markdown, no explanations):\n{\n  \"variant_1\": {\n    \"subject\": \"string (exciting, celebratory)\",\n    \"body\": \"string\",\n    \"approach\": \"welcome_consultation\"\n  },\n  \"variant_2\": {\n    \"subject\": \"string (value-focused)\",\n    \"body\": \"string\",\n    \"approach\": \"value_focused\"\n  },\n  \"variant_3\": {\n    \"subject\": \"string (resource-rich)\",\n    \"body\": \"string\",\n    \"approach\": \"resource_rich\"\n  },\n  \"recommended_variant\": 1,\n  \"personalization_notes\": \"string explaining why this variant was recommended\"\n}"
            },
            {
              "role": "user",
              "content": "=Create outreach emails for this lead:\n\nLead Data:\n{{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "ai-email-gen",
      "name": "Generate Email Variants",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.0,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse the email generation response\nconst previousData = $('Parse ICP Analysis').first().json;\nlet emailVariants = $input.first().json;\n\n// Default fallback\nconst defaultEmails = {\n  variant_1: { subject: 'Quick question about your store', body: 'Hi there,\\n\\nI noticed your e-commerce store and thought you might be interested in how other similar stores are boosting their conversions.\\n\\nWould you be open to a quick 15-min call this week?\\n\\nBest regards', approach: 'direct_value' },\n  variant_2: { subject: 'Regarding your website notifications', body: 'Hi,\\n\\nI came across your store and noticed an opportunity to improve customer engagement.\\n\\nHappy to share some insights if you have 15 minutes this week.\\n\\nCheers', approach: 'problem_aware' },\n  variant_3: { subject: 'How similar stores increased revenue', body: 'Hi,\\n\\nWanted to share how businesses like yours are seeing 20%+ conversion improvements.\\n\\nInterested in a quick case study walkthrough?\\n\\nBest', approach: 'social_proof' },\n  recommended_variant: 1,\n  personalization_notes: 'Standard outreach'\n};\n\ntry {\n  // Handle if response is a string\n  if (typeof emailVariants === 'string') {\n    emailVariants = JSON.parse(emailVariants);\n  }\n\n  // Handle Gemini response format: { content: { parts: [{ text: '...' }] } }\n  if (emailVariants.content?.parts?.[0]?.text) {\n    const textContent = emailVariants.content.parts[0].text;\n    // Try to extract JSON from the text (might be wrapped in markdown)\n    const jsonMatch = textContent.match(/```json\\n?([\\s\\S]*?)\\n?```/);\n    if (jsonMatch) {\n      emailVariants = JSON.parse(jsonMatch[1]);\n    } else {\n      emailVariants = JSON.parse(textContent);\n    }\n  }\n  // Handle OpenAI response format\n  else if (emailVariants.message?.content) {\n    const content = emailVariants.message.content;\n    const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      emailVariants = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n    } else {\n      emailVariants = JSON.parse(content);\n    }\n  }\n  // Handle direct text response\n  else if (emailVariants.text) {\n    emailVariants = JSON.parse(emailVariants.text);\n  }\n} catch (e) {\n  console.log('Email parsing error:', e.message);\n  emailVariants = defaultEmails;\n}\n\n// Validate required fields exist\nif (!emailVariants.variant_1 || !emailVariants.recommended_variant) {\n  emailVariants = { ...defaultEmails, ...emailVariants };\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    email_variants: emailVariants\n  }\n}];"
      },
      "id": "parse-emails",
      "name": "Parse Email Variants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-medium-value-check",
              "leftValue": "={{ $json.icp_analysis.icp_tier }}",
              "rightValue": "LOW",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-high-value",
      "name": "Is High/Medium Value?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xXhtRU4FpgGncRb4mnxKf7AdNHcrdZuyMfu2BkwQcww/edit?gid=1151516460#gid=1151516460",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1151516460,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.company_profile.name }}",
            "Website": "={{ $json.website_url }}",
            "Platform": "={{ $json.site_profile.platform }}",
            "Industry": "={{ $json.company_profile.industry }}",
            "Employees": "={{ $json.company_profile.employee_range }}",
            "Traffic Level": "={{ $json.traffic.estimated_traffic }}",
            "ICP Score": "={{ $json.icp_analysis.icp_score }}",
            "ICP Tier": "={{ $json.icp_analysis.icp_tier }}",
            "Uses Competitor": "={{ $json.competitor_tools.has_competitor }}",
            "Competitor Detected": "={{ $json.competitor_tools.detected_competitor || 'None' }}",
            "Recommended Variant": "={{ $json.email_variants.recommended_variant }}",
            "Outreach Status": "Pending",
            "Reply Date": "",
            "Outcome": "",
            "Notes": "",
            "AI Recommendation": "={{ $json.icp_analysis.recommended_approach }}",
            "Country": "={{ $json.user_profile.country }}",
            "User Name": "={{ $json.user_profile.full_name || $json.user_profile.first_name }}",
            "Email Subject": "={{ $json.email_variants['variant_' + $json.email_variants.recommended_variant]?.subject || '' }}",
            "Email Body": "={{ $json.email_variants['variant_' + $json.email_variants.recommended_variant]?.body || '' }}",
            "Personalization Notes": "={{ $json.email_variants.personalization_notes || '' }}"
          },
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Company", "displayName": "Company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Website", "displayName": "Website", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Platform", "displayName": "Platform", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Industry", "displayName": "Industry", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Employees", "displayName": "Employees", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Traffic Level", "displayName": "Traffic Level", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "ICP Score", "displayName": "ICP Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "ICP Tier", "displayName": "ICP Tier", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Uses Competitor", "displayName": "Uses Competitor", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Competitor Detected", "displayName": "Competitor Detected", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Recommended Variant", "displayName": "Recommended Variant", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Outreach Status", "displayName": "Outreach Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Reply Date", "displayName": "Reply Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Outcome", "displayName": "Outcome", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Notes", "displayName": "Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "AI Recommendation", "displayName": "AI Recommendation", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Country", "displayName": "Country", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "User Name", "displayName": "User Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Email Subject", "displayName": "Email Subject", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Email Body", "displayName": "Email Body", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Personalization Notes", "displayName": "Personalization Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "id": "google-sheets-all",
      "name": "Add to Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2450, 550]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.email_variants['variant_' + $json.email_variants.recommended_variant].subject }}",
        "emailType": "text",
        "message": "={{ $json.email_variants['variant_' + $json.email_variants.recommended_variant].body }}",
        "options": {}
      },
      "id": "gmail-draft",
      "name": "Save as Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2650, 250]
    },
    {
      "parameters": {
        "content": "## Lead Profile Enrichment Automation\n\n### Workflow Overview\nThis workflow enriches new signup leads with data from multiple sources, scores them against your ICP, and generates personalized outreach emails.\n\n### Free/Freemium Services Used:\n- **Hunter.io** (50 free/month) - Email verification & domain search\n- **Apollo.io** (60 credits/month free) - Person & company enrichment\n- **HTML Scraping** (FREE) - Tech stack & platform detection\n- **PDL (People Data Labs)** (free tier) - Company enrichment fallback\n- **Google Gemini Flash** (~$0.001/lead) - ICP scoring & email generation\n\n### Required Credentials:\n1. Hunter.io API Key\n2. Apollo.io API Key\n3. PDL API Key (optional fallback)\n4. Google Gemini API Key\n5. Google Sheets OAuth\n6. Gmail OAuth\n7. Slack OAuth (optional)\n\n### Webhook Payload Format:\n```json\n{\n  \"email\": \"user@company.com\",\n  \"website_url\": \"https://company.com\",\n  \"signup_plan\": \"free\",\n  \"user_id\": \"12345\",\n  \"signup_timestamp\": \"2024-01-15T10:30:00Z\"\n}\n```",
        "height": 580,
        "width": 360,
        "color": 4
      },
      "id": "sticky-note-1",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-100, 150]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Lead enrichment completed\",\n  \"lead_id\": \"{{ $json.user_id || 'unknown' }}\",\n  \"email\": \"{{ $json.email || '' }}\",\n  \"icp_score\": {{ $json.icp_analysis?.icp_score || 0 }},\n  \"icp_tier\": \"{{ $json.icp_analysis?.icp_tier || 'UNKNOWN' }}\",\n  \"processed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2650, 550]
    },
    {
      "parameters": {
        "content": "## Stage 1: Trigger & Parse\nReceive webhook with lead data and extract domain information",
        "height": 120,
        "width": 300,
        "color": 6
      },
      "id": "sticky-note-2",
      "name": "Stage 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 280]
    },
    {
      "parameters": {
        "content": "## Stage 2: Parallel Enrichment\nFetch data from multiple APIs simultaneously",
        "height": 120,
        "width": 300,
        "color": 6
      },
      "id": "sticky-note-3",
      "name": "Stage 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 80]
    },
    {
      "parameters": {
        "content": "## Stage 3: Merge & Structure\nCombine all enrichment data into unified profile",
        "height": 100,
        "width": 300,
        "color": 6
      },
      "id": "sticky-note-4",
      "name": "Stage 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 380]
    },
    {
      "parameters": {
        "content": "## Stage 4: AI Processing\nICP scoring and personalized email generation",
        "height": 100,
        "width": 500,
        "color": 6
      },
      "id": "sticky-note-5",
      "name": "Stage 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1400, 280]
    },
    {
      "parameters": {
        "content": "## Stage 5: Output Actions\nStore results, notify team, create email drafts",
        "height": 100,
        "width": 500,
        "color": 6
      },
      "id": "sticky-note-6",
      "name": "Stage 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2300, 130]
    }
  ],
  "connections": {
    "New Signup Trigger": {
      "main": [
        [
          {
            "node": "Extract Domain Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain Info": {
      "main": [
        [
          {
            "node": "Parallel Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parallel Enrichment": {
      "main": [
        [
          {
            "node": "Hunter.io Domain Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hunter.io Email Verify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apollo.io Person Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apollo.io Company Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "PDL Company Enrich",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Website for Competitors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Site Rank Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Domain Search": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Email Verify": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Apollo.io Person Lookup": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Apollo.io Company Lookup": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "PDL Company Enrich": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Scrape Website for Competitors": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Site Rank Lookup": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge Enrichment Data": {
      "main": [
        [
          {
            "node": "Structure Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Enriched Data": {
      "main": [
        [
          {
            "node": "AI ICP Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI ICP Scoring": {
      "main": [
        [
          {
            "node": "Parse ICP Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse ICP Analysis": {
      "main": [
        [
          {
            "node": "Generate Email Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Variants": {
      "main": [
        [
          {
            "node": "Parse Email Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Variants": {
      "main": [
        [
          {
            "node": "Is High/Medium Value?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is High/Medium Value?": {
      "main": [
        [
          {
            "node": "Save as Gmail Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save as Gmail Draft": {
      "main": [
        []
      ]
    },
    "Add to Tracking Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "lead-enrichment-instance"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 1,
  "tags": [
    {
      "id": "1",
      "name": "Lead Enrichment"
    },
    {
      "id": "2",
      "name": "Sales Automation"
    }
  ]
}
